body {
    background-color: #008b8b;
    font: normal 15pt 'Poppins', sans-serif;;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    width: 1200px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    text-align: center;
}

#resultado {
    text-align: center;
    padding: 20px;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 0.8em;
}

img {
    width: 600px;
    height: 600px;
}